*{padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    background-color: black;
    background-image: url(../img/logo/fondo.jpg);
}

#logoWeb{
    display: block;
    margin: auto;
}

#foto{
    height: 600px;
    width: 1000px;
    display: block;
    margin: 30px auto;
}

#buttons{
    margin:30px;
    display: block;
    
}

#back{
    color: red;
    position: relative;
    bottom: 300px;
    left: 395px;
    font-size: x-large;
}

#back:hover{
    color:brown;
    cursor: pointer;
}

#forward{
    color: red;
    position: relative;
    bottom: 300px;
    left: 1290px;
    font-size: x-large;
}
#forward:hover{
    color:brown;
    cursor: pointer;
}

p{
    display: block;
    text-align: center;
    accent-color: red;
}